[tool.poetry]
name = "mimiqcircuits"
version = "0.15.8"
description = ""
authors = ["Guido Masella <guido.masella@qperfect.io>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
numpy = ">=1.26,<3.0"
mimiqlink = "^0.7"
bitarray = "^2.9"
symengine = ">=0.11,<1.0"
sympy = "^1.12"
protobuf = ">=5.26"
matplotlib = ">=3.8"
scipy = "^1.13"

[tool.poetry.extras]
visualization = ["matplotlib"]

[tool.poetry.group.test.dependencies]
pytest = "^8.2"
pytest-accept = "^0.1"
pytest-doctest-import = "^0.1"
pytest-benchmark = "^4.0"
scipy = "^1.13"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.3"
pydata-sphinx-theme = "^0.15"
jupyter-sphinx = "^0.5"
sphinx-copybutton = "^0.5"
sphinx-inline-tabs = "^2023.4"
recommonmark = "^0.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
