name: Docs

on:
  push:
    tags:
      - "v*"
    branches:
      - main
      - devel
  pull_request:
    branches:
      - devel

jobs:
  docs:
    permissions:
      contents: write
    name: Documentation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build tools
        run: |
          sudo apt update
          sudo apt-get install build-essential gfortran libopenblas-dev

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Configure poetry
        run: |
          python -m poetry config virtualenvs.in-project true

      - name: Cache the virtualenv
        uses: actions/cache@v3
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: |
          python -m poetry install --with docs

      - name: Sphinx build
        run: |
          python -m poetry run sphinx-build docs _build

      - name: Deploy
        if: github.repository == 'qperfect-io/mimiqcircuits-python' && startsWith(github.ref, 'refs/tags/')
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
